<div layout="row" layout-align="center center" layout-wrap>
   <md-card flex="70">          
      <md-card-content>           
         <form layout="row" layout-wrap name="vehicleInfo">
            <div flex="80" class="searchBar" >
               <md-autocomplete
                  md-selected-item="selectVehicle"
                  md-search-text="modelSearchText"
                  md-selected-item-change="selectedItemChange(selectVehicle)"
                  md-items="item in vehicleModelList | filter:modelSearchText"
                  md-item-text="item.makerName+' '+item.model+' '+item.year"
                  md-min-length="0"
                  md-max-length="10"
                  placeholder="Please enter your Vehicle Maker or Model to Search" 
                  style="color:#333;">
                  <md-item-template>
                  <span md-highlight-text="modelSearchText">{{item.makerName+' '+item.model+' '+item.year}}
                  </span>
                  </md-item-template>
               </md-autocomplete>
            </div>

            <div flex="20">
               <md-button>Search</md-button>
            </div>



            <md-input-container flex="40">
               <label>Make</label>
               <md-select ng-model="selectedMake">
                  <md-option ng-repeat="item in make" value="{{item.name}}">
                     {{item.name}}
                  </md-option>
               </md-select>
            </md-input-container>

            <md-input-container flex="20">
               <label>Odometer</label>
               <md-select ng-model="selectedOdometer">
                  <md-option ng-repeat="item in odometer" value="{{item.name}}">
                     {{item.name}}
                  </md-option>
               </md-select>
            </md-input-container>

            <md-input-container flex="20">
               <label>To</label>
               <md-select ng-model="selectedOdometer">
                  <md-option ng-repeat="item in model" value="{{item.name}}">
                     {{item.name}}
                  </md-option>
               </md-select>
            </md-input-container>

            <md-input-container flex="40">
               <label>Model</label>
               <md-select ng-model="selectedModel">
                  <md-option ng-repeat="item in model" value="{{item.name}}">
                     {{item.name}}
                  </md-option>
               </md-select>
            </md-input-container>

            <md-input-container flex="40">
               <label>Body Type</label>
               <md-select ng-model="selectedBodyType">
                  <md-option ng-repeat="item in bodyType" value="{{item.name}}">
                     {{item.name}}
                  </md-option>
               </md-select>
            </md-input-container>

            <div flex="80" layout="row" layout-wrap>
               <md-input-container flex="25">
                  <label>Year</label>
                  <md-select ng-model="selectedModel">
                     <md-option ng-repeat="item in year" value="{{item.name}}">
                        {{item.name}}
                     </md-option>
                  </md-select>
               </md-input-container>

               <md-input-container flex="25">
                  <label>To</label>
                  <md-select ng-model="selectedModel">
                     <md-option ng-repeat="item in year" value="{{item.name}}">
                        {{item.name}}
                     </md-option>
                  </md-select>
               </md-input-container>

               <md-input-container flex="25">
                  <label>Price</label>
                  <md-select ng-model="selectedPrice">
                     <md-option ng-repeat="item in price" value="{{item.name}}">
                        {{item.name}}
                     </md-option>
                  </md-select>
               </md-input-container>

               <md-input-container flex="25">
                  <label>To</label>
                  <md-select ng-model="selectedPrice">
                     <md-option ng-repeat="item in price" value="{{item.name}}">
                        {{item.name}}
                     </md-option>
                  </md-select>
               </md-input-container>
            </div>
                        
         </form>
      </md-card-content>
   </md-card>  
</div>


<div layout="row" layout-wrap>
   <md-card flex="24" ng-repeat="car in cars" style="float:left">
      <div ng-click="editCar(car)">
         <div>MAKE: {{car.makerName}}</div>
         <div>MODEL: {{car.model}}</div>
         <div>YEAR: {{car.year}}</div>
         <div>ODOMETER: {{car.odometer| number}}</div>
         <div>PRICE: {{car.price | currency}}</div> 
      </div>
   </md-card>   
</div>
