<div layout="row" layout-wrap layout-align="center center">
   <md-card flex="100">
     <md-subheader class="md-primary">Dashboard</md-subheader>
     <md-card-content>           

     <form layout="row" layout-wrap name="wardInfo">

         <md-datepicker flex="100" ng-model="date" md-placeholder="Enter date"></md-datepicker>

         <md-card flex="24" ng-repeat="item in usages" style="float:left" ng-click="editWard(item)">
            <md-card-title>
            <md-card-title-text>
               <span class="md-headline">{{item.name}}</span>
            </md-card-title-text>
            </md-card-title>

            <md-card-content layout="row" layout-wrap>
               <md-progress-linear flex="80" md-mode="item.occupancy" ng-value="item.occupancy"></md-progress-linear>
               <span flex="20">{{item.occupancy}}&nbsp/{{item.capacity}}</span>
            </md-card-content>
         </md-card>


      <md-card flex="100">
         <md-subheader class="md-primary">Overall summary</md-subheader>
         <md-card-content layout="row" layout-wrap>           
            <md-input-container flex="50" class="md-block">
              <label>Total of patient today</label>
              <input name="makerName" disabled ng-model="currentWard.capacity">
            </md-input-container>

            <md-input-container flex="50" class="md-block">
              <label>Mortality Rate</label>
              <input name="makerName" disabled ng-model="currentWard.capacity">
            </md-input-container>

            <md-input-container flex="50" class="md-block">
              <label>Readmission Rate</label>
              <input name="makerName" disabled ng-model="currentWard.capacity">
            </md-input-container>

            <md-input-container flex="50" class="md-block">
              <label>First Patient died</label>
              <input name="makerName" disabled ng-model="currentWard.capacity">
              
            </md-input-container>
         </md-card-content>
      </md-card>

                  
      </form>
     </md-card-content>
   </md-card>
</div>


